.row.issues__16-nov {
  margin-bottom: 6rem;
}
.row div[class~="issues__photo"]:not(:last-child) {
  margin-right: 40px;
  // margin-bottom: 40px;
}

.issues {
  margin-bottom: 100px;
  
  &__header {
    color: $color-green;
    font-size: 42px;
    line-height: 1.23;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
  }
  &__photo {

    background-size: cover;
    background-position: center;
    max-width: 380px;
    max-height: 380px;
    height: calc(((100vw - #{$gutter-horizontal}) / 2) - #{$gutter-horizontal});
    &--16 {
      background-image: url('../img/IMG_4142.jpg');
    }
    &--17 {
      background-image: url('../img/IMG_3079.jpg');
    }
  }

  &__time {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
    color: $color-green;

    display: block;
    &--16 {
      margin-top: -6px;
    }
  }


  &__day {
    display: block;
    color: #7a7a7a;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 45px;

  }

  &__list {


  }

  &__item {
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
    color: #484848;
    font-size: 18px;
    line-height: 1.55;
    color: $color-black;
  }
}
