.main-nav {
  position: fixed;
  top:0;
  width: 100vw;
  display: flex;
  background-color: rgba(72,72,72,0.70);


  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;    
    margin: 0 auto;
  }

  &__item {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 14px;
    padding-top: 14px;

    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}
